<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCA5GhH7LPg2bhkL8xSMclcxh3lVzYNF2E</string>
	<key>GCM_SENDER_ID</key>
	<string>860070657749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indrive.user.userApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-uberclone-a8864</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-uberclone-a8864.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860070657749:ios:11b0e8c828f29e403c6c5c</string>
</dict>
</plist>